.container{
    width:100%;
    background-color: yellow;
    height: 215px;
    border: 3px solid red;
}
.box{
    height: 212px;
    width:212px;
    border: 2px solid greenyellow;
    background-color: aquamarine;

    animation-name: Amandeep;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-direction:alternate-reverse;

    animation-fill-mode: forwards;

}
/* 
to activate animations we use keyframes */
/* @keyframes Amandeep{
    from {
        width:212px;
    }
    to{
        width:900px;

    }
} */


/* here color will change at given percentage */
@keyframes Amandeep{
    0%{
        width:212px;
        background-color: aquamarine;
    }
    30%{
        width:35%;
        background-color: blueviolet;
    }
    65%{
        width:70%;
        background-color: brown;
    }
    100%{
        width:100%;
        background-color: palevioletred;
    }
}