.container{
    border: 1px solid brown;
    background-color: yellow;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns:  100px 100px 100px;
    grid-template-rows: 100px 100px;

    grid-gap:10px;

    justify-content: start;
    justify-content: right;
    justify-content: center;

    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;

    align-items: start;
    align-items: end;
    align-items: center;
    align-items: baseline;
    align-items: flex-end;
    align-items: safe;
    align-items:  stretch;

    align-content:  stretch;
    /* align-content: start;
    align-content: end; */

    align-content: center;
    align-content: baseline;

    place-content: center;
    justify-items:  center;
    align-items: center;
    place-items:  center;

    justify-tracks: center;
    text-justify: distribute;

    

}
.box{
    border: 1px solid red;
    background-color: aquamarine;
}
#box1{
    justify-self:  start;
    justify-self: end;
    justify-self: center;

    align-self: stretch;
    align-self:  center;
    align-self: flex-end;

    align-content:  stretch;
    align-content: start;
    align-content: end;
}
